.photo-grid__list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 284px);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1024px) {
  .photo-grid__list {
      grid-template-columns: repeat(auto-fill, 352px);
  gap: 14px;
     }
}
@media screen and (max-width: 768px) {
    .photo-grid__list {
        grid-template-columns: repeat(auto-fill, 352px);
        width: 61%;
       }
  }
  @media screen and (max-width: 320px) {
    .photo-grid__list {
      padding-left: 1.3%;
    
        padding-right: 1.3%;
   width: 24%;
    padding-bottom: 64px;
    max-height: 2724px;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 12px;
    }
  }
       