.lead {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
}
@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 50px;
     
  }
}

  @media screen and (max-width: 768px) {
    .lead {
        padding-left: 0;
       
    }
  }
  @media screen and (max-width: 320px) {
    .lead {
      margin-top: 48px;
    }
  
  }