.header__logo {
   
    display: block;
   height: 52px;
    border-radius: 0px;
  }  
  @media screen and (max-width: 320px) {
    .header__logo {
      margin-right: 84px;
      height: 42px;
    }
  }
@media screen and (max-width: 320px) {
  .header__logo {
    margin-right: 84px;
    height: 42px;
  }
}