.lead__image {
       object-fit: cover;
    height: 615px;
    width: 984px;
    padding: 0;
    border-radius: 0px;
     margin-bottom: 0;
    
  }
  @media screen and (max-width: 1024px) {
   .lead__image {
      height: 580px;
      width: 928px;
    
      
       
       }
 }
 @media screen and (max-width: 768px) {
   .lead__image {
      height: 480px;
      width: 768px;
      margin: 0;

      }
 }
 @media screen and (max-width: 480px) {
   .lead__image {
      height: 300px;
      width: 480px;
    
      }
 }
 @media screen and (max-width: 320px) {
   .lead__image {
      height: 200px;
      width: 320px;
               
       }
 }