.cover__overlay {
    
     
    position: relative;
    background-image: url(../../../image/__baikal_background.png);
    max-width: 1184px;
    max-height: 740px;
    height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     text-decoration: none;
     background-repeat: no-repeat;
     display: flex;
     /*justify-content: center;*/
     flex-direction: column;
     align-items: center;
     z-index: 0;
     content: '';
     background-color: #2A2C2F;
     opacity: 0.7;
     /*padding-left: 4%;
     padding-right: 4%;*/
    
  }
  .cover__overlay::before {
    content: '';
     background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 2;
  
}

.cover__overlay:hover {
    opacity: 0.3;
}
  @media screen and (max-width: 1024px) {
    .cover__overlay {
      max-width: 1024px;
      max-height: 640px;
        }
  }
  @media screen and (max-width: 768px) {
    .cover__overlay {
      max-width: 768px;
      max-height: 480px;
       }
  }
  @media screen and (max-width: 320px) {
    .cover__overlay {
      height: 200px;
      
    }
  }
